:root {
    --main-width: 768px;
}

body {
    font-family: -apple-system,"Merriweather-Regular",system-ui,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei",Arial;
}

h1, h2, h3, h4, h5, h6, .toc, footer {
    font-family: -apple-system,"Lato-Regular",system-ui,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei",Arial;
}

.post-content {
    font-size: 16px;
    text-align: justify;
}

.post-content img {
    border-radius: var(--radius);
    border: 1px solid var(--border);
}

.post-content code {
    font-size: 0.8em;
    padding: 3px 6px 3px 6px;
}

.chroma {
    background-color: unset;
}