<div id="vcomments"></div>
<script>
    const emojiCDNAcfun = 'http://images.liyangjie.cn/emoji/acfun';
    const emojiMapsAcfun = {
        acfun_0: '01.png',
        acfun_1: '02.png',
        acfun_2: '03.png',
        acfun_3: '04.png',
        acfun_4: '05.png',
        acfun_5: '06.png',
        acfun_6: '07.png',
        acfun_7: '08.png',
        acfun_8: '09.png',
        acfun_9: '10.png',
        acfun_10: '1001.png',
        acfun_11: '1002.png',
        acfun_12: '1003.png',
        acfun_13: '1004.png',
        acfun_14: '1005.png',
        acfun_15: '1006.png',
        acfun_16: '1007.png',
        acfun_17: '1008.png',
        acfun_18: '1009.png',
        acfun_19: '1010.png',
        acfun_20: '1011.png',
        acfun_21: '1012.png',
        acfun_22: '1013.png',
        acfun_23: '1014.png',
        acfun_24: '1015.png',
        acfun_25: '1016.png',
        acfun_26: '1017.png',
        acfun_27: '1018.png',
        acfun_28: '1019.png',
        acfun_29: '1020.png',
        acfun_30: '1021.png',
        acfun_31: '1022.png',
        acfun_32: '1023.png',
        acfun_33: '1024.png',
        acfun_34: '1025.png',
        acfun_35: '1026.png',
        acfun_36: '1027.png',
        acfun_37: '1028.png',
        acfun_38: '1029.png',
        acfun_39: '1030.png',
        acfun_40: '1031.png',
        acfun_41: '1032.png',
        acfun_42: '1033.png',
        acfun_43: '1034.png',
        acfun_44: '1035.png',
        acfun_45: '1036.png',
        acfun_46: '1037.png',
        acfun_47: '1038.png',
        acfun_48: '1039.png',
        acfun_49: '1040.png',
        acfun_50: '11.png',
        acfun_51: '12.png',
        acfun_52: '13.png',
        acfun_53: '14.png',
        acfun_54: '15.png',
        acfun_55: '16.png',
        acfun_56: '17.png',
        acfun_57: '18.png',
        acfun_58: '19.png',
        acfun_59: '20.png',
        acfun_60: '2001.png',
        acfun_61: '2002.png',
        acfun_62: '2003.png',
        acfun_63: '2004.png',
        acfun_64: '2005.png',
        acfun_65: '2006.png',
        acfun_66: '2007.png',
        acfun_67: '2008.png',
        acfun_68: '2009.png',
        acfun_69: '2010.png',
        acfun_70: '2011.png',
        acfun_71: '2012.png',
        acfun_72: '2013.png',
        acfun_73: '2014.png',
        acfun_74: '2015.png',
        acfun_75: '2016.png',
        acfun_76: '2017.png',
        acfun_77: '2018.png',
        acfun_78: '2019.png',
        acfun_79: '2020.png',
        acfun_80: '2021.png',
        acfun_81: '2022.png',
        acfun_82: '2023.png',
        acfun_83: '2024.png',
        acfun_84: '2025.png',
        acfun_85: '2026.png',
        acfun_86: '2027.png',
        acfun_87: '2028.png',
        acfun_88: '2029.png',
        acfun_89: '2030.png',
        acfun_90: '2031.png',
        acfun_91: '2032.png',
        acfun_92: '2033.png',
        acfun_93: '2034.png',
        acfun_94: '2035.png',
        acfun_95: '2036.png',
        acfun_96: '2037.png',
        acfun_97: '2038.png',
        acfun_98: '2039.png',
        acfun_99: '2040.png',
        acfun_100: '2041.png',
        acfun_101: '2042.png',
        acfun_102: '2043.png',
        acfun_103: '2044.png',
        acfun_104: '2045.png',
        acfun_105: '2046.png',
        acfun_106: '2047.png',
        acfun_107: '2048.png',
        acfun_108: '2049.png',
        acfun_109: '2050.png',
        acfun_110: '2051.png',
        acfun_111: '2052.png',
        acfun_112: '2053.png',
        acfun_113: '2054.png',
        acfun_114: '2055.png',
        acfun_115: '21.png',
        acfun_116: '22.png',
        acfun_117: '23.png',
        acfun_118: '24.png',
        acfun_119: '25.png',
        acfun_120: '26.png',
        acfun_121: '27.png',
        acfun_122: '28.png',
        acfun_123: '29.png',
        acfun_124: '30.png',
        acfun_125: '31.png',
        acfun_126: '32.png',
        acfun_127: '33.png',
        acfun_128: '34.png',
        acfun_129: '35.png',
        acfun_130: '36.png',
        acfun_131: '37.png',
        acfun_132: '38.png',
        acfun_133: '39.png',
        acfun_134: '40.png',
        acfun_135: '41.png',
        acfun_136: '42.png',
        acfun_137: '43.png',
        acfun_138: '44.png',
        acfun_139: '45.png',
        acfun_140: '46.png',
        acfun_141: '47.png',
        acfun_142: '48.png',
        acfun_143: '49.png',
        acfun_144: '50.png',
        acfun_145: '51.png',
        acfun_146: '52.png',
        acfun_147: '53.png',
        acfun_148: '54.png',
        acfun_149: '76web.gif',
        acfun_150: 'DVAweb.gif',
        acfun_151: '半藏web.gif',
        acfun_152: '卢西奥web.gif',
        acfun_153: '大锤web.gif',
        acfun_154: '天使web.gif',
        acfun_155: '安娜web.gif',
        acfun_156: '寡妇web.gif',
        acfun_157: '托比昂web.gif',
        acfun_158: '查莉雅web.gif',
        acfun_159: '死神web.gif',
        acfun_160: '法鸡web.gif',
        acfun_161: '源氏web.gif',
        acfun_162: '狂鼠web.gif',
        acfun_163: '猎空web.gif',
        acfun_164: '猩猩web.gif',
        acfun_165: '禅雅塔web.gif',
        acfun_166: '秩序web.gif',
        acfun_167: '美web.gif',
        acfun_168: '路霸web.gif',
        acfun_169: '麦克雷web.gif'
    };
    const emojiCDNBlibli = 'http://images.liyangjie.cn/emoji/blibli/';
    const emojiMapsBlibli = {
        'doge': 'doge.gif',
        '亲亲': '亲亲.gif',
        '偷笑': '偷笑.gif',
        '再见': '再见.gif',
        '发怒': '发怒.gif',
        '发财': '发财.gif',
        '可爱': '可爱.gif',
        '吐血': '吐血.gif',
        '呆': '呆.gif',
        '呕吐': '呕吐.gif',
        '困': '困.gif',
        '坏笑': '坏笑.gif',
        '大佬': '大佬.gif',
        '大哭': '大哭.gif',
        '委屈': '委屈.gif',
        '害羞': '害羞.gif',
        '尴尬': '尴尬.gif',
        '微笑': '微笑.gif',
        '思考': '思考.gif',
        '惊吓': '惊吓.gif',
        '打脸': '打脸.gif',
        '抓狂': '抓狂.gif',
        '抠鼻子': '抠鼻子.gif',
        '斜眼笑': '斜眼笑.gif',
        '无奈': '无奈.gif',
        '晕': '晕.gif',
        '流汗': '流汗.gif',
        '流鼻血': '流鼻血.gif',
        '点赞': '点赞.gif',
        '生气': '生气.gif',
        '生病': '生病.gif',
        '疑问': '疑问.gif',
        '白眼': '白眼.gif',
        '睡着': '睡着.gif',
        '笑哭': '笑哭.gif',
        '腼腆': '腼腆.gif',
        '色': '色.gif',
        '调皮': '调皮.gif',
        '鄙视': '鄙视.gif',
        '闭嘴': '闭嘴.gif',
        '难过': '难过.gif',
        '馋': '馋.gif',
        '黑人问号': '黑人问号.gif',
        '鼓掌': '鼓掌.gif'
    };

    loadComments();

    function loadComments() {
        if (typeof Valine === 'undefined') {
            var getScript = (options) => {
                var script = document.createElement('script');
                script.defer = true;
                script.crossOrigin = 'anonymous';
                Object.keys(options).forEach((key) => {
                    script[key] = options[key];
                });
                document.body.appendChild(script);
            };
            getScript({
                src: 'https://cdn.jsdelivr.net/npm/valine@1.4.14/dist/Valine.min.js',
                onload: () => {
                    newValine();
                }
            });
        } else {
            newValine();
        }
    }

    function newValine() {
        new Valine({
            el: '#vcomments',
            appId: 'L2ATQDtxyuWNWuKWKkigYek5-gzGzoHsz',
            appKey: 'iEwNFD3GOrDEHjqnwhEtHSp8',
            placeholder: '来都来了，说两句~',
            emojiCDN: emojiCDNBlibli,
            emojiMaps: emojiMapsBlibli
        });
    }
</script>