<!-- 增加自定义footer，备案信息 -->
<footer class="footer">
<a href="https://beian.miit.gov.cn/" target="_blank">鄂ICP备16007812号-1</a>
</footer>

{{ partial "lazy-gallery.html" . }}
<script>
    {{- /* cover lazy load */}}
    {{ if .IsPage }}
    const coverImg = document.querySelector(".entry-cover img");
    if (coverImg) {
        coverImg.classList.add("lazy");
    }
    {{ end }}
    const lazyLoadInstance = new LazyLoad({
        // Your custom settings go here
    }); 
    
    const config = {
        selector: ".lightgallery",
        speed: 400,
        hideBarsDelay: 2000,
        thumbnail: true,
        exThumbImage: "data-thumbnail",
        thumbWidth: 80,
        thumbContHeight: 80,
        actualSize: false
    };

    lightGallery(document.getElementsByClassName('post-content')[0], config);
</script>